<a href="https://colab.research.google.com/github/Hasaankhattak45/Python/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Introduction to Python for beginners**

##**1: What is programming language?**


A programming language defines a set of instructions that are compiled together to perform a specific task by the CPU (Central Processing Unit). The programming language mainly refers to high-level languages such as Python, Java, C, C++, Pascal, Ada, COBOL, etc.

Each programming language contains a unique set of keywords and syntax, which are used to create a set of instructions. Thousands of programming languages have been developed till now, but each language has its specific purpose.Based on the levels of abstraction, they can be classified into two categories:

1.   Low-level language
2.   High-level language

**Low-level language**

The low-level language is a programming language that provides no abstraction from the hardware, and it is represented in 0 or 1 forms, which are the machine instructions. The languages that come under this category are the Machine level language and Assembly language.

**High-Level Language**

The high-level language is a programming language that allows a programmer to write the programs which are independent of a particular type of computer. The high-level languages are considered as high-level because they are closer to human languages than machine-level languages.
A compiler is required to translate a high-level language into a low-level language.


> **Advantages of a high-level language**
> 1.   The high-level language is easy to read, write, and maintain as it is written in English like words.
2.   The high-level languages are designed to overcome the limitation of low-level language, i.e., portability. The high-level language is portable; i.e., these languages are machine-independent.

##**2: What is python?**
Python is an [interpreted](https://towardsdatascience.com/how-does-python-work-6f21fd197888), high-level, general-purpose programming language. It is is dynamically typed and garbage-collected.

##**3: Python Environment setting (installation)**

**Running on your computer locally**

To run the code on your computer locally, you'll need to set up [Python](https://www.python.org), download the notebook and install the required libraries. We recommend using the [Conda](https://docs.conda.io/projects/conda/en/latest/user-guide/install/) distribution of Python. Click the **Run** button at the top of this page, select the **Run Locally** option, and follow the instructions.

>  **Jupyter Notebooks**: This tutorial is a [Jupyter notebook](https://jupyter.org) - a document made of _cells_. Each cell can contain code written in Python or explanations in plain English. You can execute code cells and view the results, e.g., numbers, messages, graphs, tables, files, etc. instantly within the notebook. Jupyter is a powerful platform for experimentation and analysis. Don't be afraid to mess around with the code & break things - you'll learn a lot by encountering and fixing errors. You can use the "Kernel > Restart & Clear Output" menu option to clear all outputs and start again from the top.

##**4: Basics of Python**

**4.1: Comments in python**
 
> Comments and blank lines are ignored during execution, but they are useful for providing information to humans (including yourself) about what the code does. Comments can be inline (at the end of some code), on a separate line, or even span multiple lines. 

Inline and single-line comments start with `#`, whereas multi-line comments begin and end with three quotes, i.e. `"""`. Here are some examples of code comments:

In [ ]:
salary = 10000 # an inline comment

In [ ]:
# This comment gets its own line
salary = 10000

In [ ]:
"""This is a multi-line comment.
Write as little or as much as you'd like.

Comments are really helpful for people reading
your code, but try to keep them short & to-the-point.

Also, if you use good variable names, then your code is
often self explanatory, and you may not even need comments!
"""
salary = 10000

**4.2: Arithmetic Operations using Python**

> Using Python as a calculator. You can write and execute Python using a code cell within Jupyter. 

> **Working with cells**: To create a new cell within Jupyter, you can select "Insert > Insert Cell Below" from the menu bar or just press the "+" button on the toolbar. You can also use the keyboard shortcut `Esc+B` to create a new cell. Once a cell is created, click on it to select it. You can then change the cell type to code or markdown (text) using the "Cell > Cell Type" menu option. You can also use the keyboard shortcuts `Esc+Y` and `Esc+M`. Double-click a cell to edit the content within the cell. To apply your changes and run a cell, use the "Cell > Run Cells" menu option or click the "Run" button on the toolbar or just use the keyboard shortcut `Shift+Enter`. You can see a full list of keyboard shortcuts using the "Help > Keyboard Shortcuts" menu option.

Run the code cells below to perform calculations and view their result. Try changing the numbers and run the modified cells again to see updated results. Can you guess what the `//`, `%`, and `**` operators are used for?

In [ ]:
3+9+3

In [ ]:
10-5

In [ ]:
5/2

In [ ]:
5//2

In [ ]:
11 % 2

In [ ]:
2 ** 3

In [ ]:
20.50 * -2

**4.3: Evaluating conditions using Python**

Apart from arithmetic operations, Python also provides several operations for comparing numbers & variables.

| Operator    | Description                                                     |
|-------------|-----------------------------------------------------------------|
| `==`        | Check if operands are equal                                     |
| `!=`        | Check if operands are not equal                                 |
| `>`         | Check if left operand is greater than right operand             |
| `<`         | Check if left operand is less than right operand                |
| `>=`        | Check if left operand is greater than or equal to right operand |
| `<=`        | Check if left operand is less than or equal to right operand    |

The result of a comparison operation is either `True` or `False` (note the uppercase `T` and `F`).

In [ ]:
fida_age = 30
hassan_age = 24
khan_age = 50

In [ ]:
# Equality check - True
fida_age == 30

In [ ]:
# Equality check - False
fida_age == hassan_age

In [ ]:
# Not equal check - True
fida_age != hassan_age

In [ ]:
# Not equal check - False
hassan_age != 24

In [ ]:
# Greater than check - True
fida_age > hassan_age

In [ ]:
# Greater than check - False
fida_age > khan_age

In [ ]:
# Less than check - True
fida_age < 100

In [ ]:
# Greater than or equal check - True
fida_age >= 19

In [ ]:
# Less than or equal check - True
4 + 5 <= 9

In [ ]:
# Less than or equal check - False
fida_age + hassan_age <= 3

**4.4: Combining conditions with logical operators**

The logical operators `and`, `or` and `not` operate upon conditions and `True` & `False` values (also known as *booleans*). `and` and `or` operate on two conditions, whereas `not` operates on a single condition.



1.   **"and" operator**


>The `and` operator returns `True` when both the conditions evaluate to `True`. Otherwise, it returns `False`.

| `a`     | `b`    | `a and b` |
|---------|--------|-----------|
|  `True` | `True` | `True`    |
|  `True` | `False`| `False`   |
|  `False`| `True` | `False`   |
|  `False`| `False`| `False`   |

In [ ]:
fida_age > 0 and hassan_age >= 3

In [ ]:
fida_age > 100 and hassan_age >= 3

In [ ]:
True and False

In [ ]:
True and True


2.   **"or operator"**



>The `or` operator returns `True` if at least one of the conditions evaluates to `True`. It returns `False` only if both conditions are `False`.

| `a`     | `b`    | `a or b`  |
|---------|--------|-----------|
|  `True` | `True` | `True`    |
|  `True` | `False`| `True`    |
|  `False`| `True` | `True`    |
|  `False`| `False`| `False`   |

In [ ]:
fida_age == 21 or hassan_age < 18

In [ ]:
fida_age >= 3 or fida_age <= 32

In [ ]:
False or False



3.   **"not" operator**

>The `not` operator returns `False` if a condition is `True` and `True` if the condition is `False`.

In [ ]:
not fida_age == 30

In [ ]:
not hassan_age >=29

In [ ]:
not False

In [ ]:
not True

##**What is variables in python**

data value can be store in temporary storage space called variable

lets store some value (hasaan) in variable

In [ ]:
name = "Hasaan" 
name

'Hasaan'

In [ ]:
name = "fide" 
name

'fide'

##**Data types in python**

Every variable is associated with variable

**Built-in Data Types**

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

![image.png]()

####**Example**

Print the data type of the variable x:

In [ ]:
x = 5
print(type(x))

<class 'int'>

##**Basic Operators in Python**

####**Arithmetic Operations**

####**Relational Operation**

####**Logical Operation**

##**Python Tokens**

####**Keywords**

####**Identifers**

####**Literals**

####**Operators**

##**Data structure in python**

####**01-List**

List is an order collection of an elements Lists are created using square brackets:  and List are changeable

**Example**

In [ ]:
#here we store some values in list 
list = ["apple", 10, True]
# print such value 
list
#when extract any particalar value from list 
list[0] 
#list [1]
#list [3]

# to change some value in list 
list[0] = hasaan 
list

IndexError: ignored

####**02-Tuple**

Tuples are used to store multiple items in a single variable. A tuple is a collection which is ordered and **unchangeable.**

Tuples are written with round brackets.()

**Example**

In [ ]:
tup1 = ("apple", 10, True)
#print(tup1)


#Extracting different value from the tuple 
#tup1[1]

# Now lets see that can we change the value inside tuple 
tup1[1] = 100
tup1 

# TypeError: 'tuple' object does not support item assignment
# its means that we can not change any thing inside tuple

TypeError: ignored

####**03-dictionary**

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

**Example**

In [ ]:
# store some value in dictionary
dic = {"mango": 40, "orange": 10, "apple" : 20}
#dic

#if access only values of dictionary 
#dic.values()

#if access only key of dictionary 
dic.keys()

#we can also change some value in dicttionary 
dic["mango"] = 50

dict_keys(['mango', 'orange', 'apple'])

####**04-Set**

Sets are used to store multiple items in a single variable.  A set is a collection which is both unordered and unindexed.

Sets are written with curly brackets.

**Example**

In [ ]:
s1 = {"fida" , 10 , 5.4}
s1

#Duplicates Not Allowed
#Sets cannot have two items with the same value.
s1 = {"apple", "banana", "cherry", "apple"}
s1

#add new value 
s1.add("hello")
s1

{10, 5.4, 'fida'}

##**Python Conditions and If statements**

Python supports the usual logical conditions from mathematics:


*   Equals: a == b
*   Not Equals: a != b
*  Less than: a < b
*   Less than or equal to: a <= b
*   Greater than: a > b
*   Greater than or equal to: a >= b

#####**Example**

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [ ]:
a = 33
b = 3
if b > a:
  print("b is greater than a")
elif a > b:
  print("a and b are equal")

a and b are equal

In [ ]:
a = 10
b = 20 
c = 30

if (a>b) & (a>c):
  print("A is greater")
elif (b>a) & (b>c):
 print("B is greater ")
else:
 print("C is Greater")

C is Greater

##**Loops statments**

looping statments are used to repeate task multile times

Their are two types of looping sattments 


1.  For loop 
2.  while loop

#####**For loop**

#####**While loop**

**Example**

In [ ]:
i = 1 
while (i<= 10):
  print(i)
  i = i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

##**User input statments in python**

##**Function in Python**

##**Lambda in Python**

##**Iterators And Generators**

##**Exceptional handling & Import Libraries**

##**File Handling**

#**Object Oriented concept in Python**

##**Classes**

##**Objects**

##**Method**

##**Inheritance**

##**Polymorphism**

##**Data Abstraction**

##**Encapsulation**

#**Libraries in Python**

##**Numpy**

##**Pandas**

##**Matplotlib**

##**Seaborn**

##**Scipy**